#content {
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto;    
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
}

header {
    background-color: #396E94;
}

#home-title {
    background-color: #396E94;
    color: #f6f5f3;
    margin: 0 auto; 
}

h2 {
    text-align: center;
    margin: 0 auto;
}

h4 {
    background-color: #396E94;
    color: #f6f5f3;
}

#hero-msg h1 {
    text-align: center;
    background-color: #396E94;
    color: #f6f5f3;
}

#hero-msg h4 {
    text-align: center;
    background-color: #396E94;
    color: #f6f5f3;
}

#hero-img {
    width: 100%;
}

#button-box {
    text-align: center;
}

#main {
    text-align: center;
}

#section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #396E94;
}

#pitch {
    text-align: center;
    margin: 0 auto;
}

nav a {
    text-align: center;
    background-color: #396E94;
    color: #f6f5f3;
    text-decoration: none;
}

nav a:hover {
    --nav-link-color: #396E94;
    --nav-background-color: #d0b45d;
    --nav-hover-link-color: #f07524;
    --nav-hover-background-color: #396E94;
    color: #f6f5f3;
}

body {
    background-color: #396E94;
}

.book {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: #396E94;
    color: #f6f5f3;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.book:hover {
    --book-link-color: #396E94;
    --book-background-color: #d0b45d;
    --book-hover-link-color: #f07524;
    --book-hover-background-color: #396E94;
    color: #f6f5f3;
    text-align: center;
}

.join {
    color: #f6f5f3;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.join:hover {
    --join-link-color: #396E94;
    --join-background-color: #d0b45d;
    --join-hover-link-color: #f07524;
    --join-hover-background-color: #396E94;
    color: #f6f5f3;
}

.msg {
    background-color: #396E94;
    color: #f6f5f3;
    margin: 0 auto; 
}

.msg h2 {
    color: #f6f5f3;
}

.msg p {
    color: #f6f5f3;
}

footer {
    background-color: #396E94;
    color: #f6f5f3;
}

footer a {
    background-color: #396E94;
    color: #f6f5f3;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}   

#footer a:hover {
    background-color: #396E94;
    color: #f6f5f3;
}

.icon {
    width: 80px;
    display: block;
    margin: 0 auto; 
}

.logo-1 {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    width: 80px;
}

.logo {
    width: 80px;
    display: block;
    margin: 0 auto; 
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 1px 0;
}

.social img {
    display: inline-block;
    margin: 0;
}

.card-pair {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.card-img, .icon {
    margin: 0;
}

#mountains img {
    display: block; 
    margin: 0; 
    padding: 0; 
}

.mountains {
    display: block; 
    margin: 0; 
    padding: 0; 
}