html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    text-align: center; /* Centers inline text */
    height: 100vh; /* Makes the body take up the full viewport height */
}